body{
    padding:50px;
    background-color:lightgrey;
}

header{
    background: linear-gradient(to left, #614385 , #516395);
    color:white;
    padding:20px;
    margin-bottom:15px;
}

li{
    list-style: none;
}

#clickables input, #clickables button, #clickablesTwo input, #clickablesTwo button{
    align-items:flex-start;
    display:inline-block;
    white-space: nowrap;
}

#appear{
    margin-bottom:30px;
}

.app{
    background-color:white;
    padding:20px;
}

.addItem, .addDesc, .addDate, .tf, .tfTwo{
    height:40px;
}

.tf, .tfTwo{
    border:none;
}

.tfTwo{
    background-color:#CDFFCD;
}

.inputForm, .listItem{
    padding:0;
}

.col-xs-1{
    align-content: center;
}

.addbtn{
    background-color:green;
    border:2px solid darkgreen;
    border-radius:4px;
    color:white;
    font-size:18px;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
}

.checkbox{
    -webkit-appearance:none;
    color:darkgrey;
}

.checkbox:hover{
    color:limegreen;
    cursor:pointer;
}

.checkboxTwo{
    -webkit-appearance:none;
    color:grey;
}

.checkboxTwo:hover{
    cursor:pointer;
}

.checkboxTwo:checked{
    color:black;
}

.checkboxTwo:checked:hover{
    color:dimgrey;
}

.glyphicon-remove{
    color:black;
    border:none;
    background:none;
    padding:0;
}

.glyphicon-remove:hover{
    color:red;
}

.glyphicon-floppy-save{
    color:black;
    padding:0;
    background:none;
    border:none;
}

.glyphicon-floppy-save:hover{
    color:blueviolet;
}